.navbar.fixed-top.navbar-expand-lg
  .container
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        if !user
          // li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            // a.nav-link(href='/login') Login
        else
          li.nav-item
            a.nav-link.nav-link-static Welcome, #{user.email.replace(/([A-Z])/g, ' $1').trim()}
          li.nav-item(class=(title === 'Logout') ? 'active' : undefined)
            a.nav-link(href='/logout') Logout
