a(data-toggle='modal' data-target='#newspaperModal')
  img.newspaper.interactive(src='/img/newspaper.png')
#newspaperModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='newspaperModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5#newspaperModalLabel.newspaper-title The New York Chronicle
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .date Wednesday, July 31, 2019
        .op-ed Op-Ed
        

        .newspaper-article-title <strong>Last of a Generation:</strong>The Agatha Empire
        .newspaper-author 
          span.newspaper-author-name Amelia Bernstein
          | , New York Chronicle news editor and Agatha Fellow '88

        p.newspaper-text When you think of names like Jacob Rosington, Rosalie Lowell, or Benjamin Cushing, you picture high society personified. You imagine transformative business ventures, staggering wealth, and private foundations. You imagine jackets and ties, expensive yachts, and illustrious connections. 

        p.newspaper-text But you also imagine the past: Rosington and Lowell passed away three years ago, and Cushing's business empire has started to come apart. In many ways, there is only one remaining oligarch of that era: Christopher Agatha, he of Agatha Pharmaceuticals and Agatha College fame.

        p.newspaper-text But truth be told, Agatha was never completely like his peers. He similarly came from old money--his father, Winston, was one of New York's wealthiest real estate developers--but rather than inherit his parents' businesses, he decided to strike out on his own. He paid his own way through a chemical engineering degree at the then named Doyle College, and soon after graduation, founded Agatha Pharmaceuticals with his business partner, Elizabeth Balwani. No doubt his last name helped, but in less than two decades, Agatha grew his company from flipping patents in his basement to a full on research, manufacturing, and sales empire. Today, Agatha Pharmaceuticals is the proud manufacturer of drugs like Adrenaprom, and state-of-the-art equipment like the Picasso surgical robot.  

        p.newspaper-text Like his peers, Agatha turned to philanthropy after his business success. He made the largest donation in higher education history (over four billion dollars) to his alma mater, who promptly renamed themselves Agatha College. But unlike his peers, Agatha also heavily involved himself in day-to-day school operations, influencing hiring decisions and editing curriculums. Most notably (though he left direct oversight of this program to his foundation manager and the college dean), he also created the Agatha Fellowship. Awarded to one Agatha College applicant from among thousands a year, the Fellowship promises near-unlimited funding for tuition, summer experiences, and personal projects. 

        p.newspaper-text I am a beneficiary of that generosity. As the second Agatha Fellowship recipient, I was afforded unique opportunities at a time when women were not professionally respected. Without the program, I likely would not be where I am today: the first female news editor of one of America's premier papers. And I certainly would not have met my spouse--chief cardiac surgeon at Medici Hospital, the love of my life, and the inaugural Fellow himself, Harold Beech. 

        p.newspaper-text But despite my personal gratitude, I am also aware that the public is less convinced. Given Rosington and Lowell's passings a few years ago, there is rightfully renewed interest in the legacies of these oligarchs. Did Lowell Gas & Electric really power our country to prosperity, or did it cause irreversible environmental harm? Did Rosington Sachs help people afford homes, or trap homeowners in unsustainable debt? Do we owe these figures our gratitude, or do we owe them our skepticism? Or both?

        p.newspaper-text Of course, Agatha is not immune--the Fellowship, for example, has started facing louder criticisms of exclusivity, of not doing enough to advance equity. And, in all the ways that Agatha is unique among his peers, he may also be unique here--because he carved out his own path, because he involved himself so much in management, he may bear more responsibility for the outcomes of his work than the others for theirs.

        p.newspaper-text Unfortunately, we have not had the opportunity to hear from the man himself. In perhaps the greatest and most well-known of his quirks, Agatha suddenly stepped back from the public eye about a decade ago. He retained nominal positions on the boards of his company and the college, but otherwise retreated to his manor upstate. 

        p.newspaper-text On Friday, however, Agatha will temporarily return to semi-public life: he is formally retiring from his nominal board positions, and hosting a small celebration. I am looking forward to attending with my husband--it will be the first time either of us have met him in person. But I am also looking forward to attending as a journalist. To you, the readers of the Chronicle, I will be sure to report back.