extends layout

block content
	div.header-2 Welcome!
	br
	br
	br
	div If you're confused, you've just broken the third wall by opening this page.
	br
	h2 Turn away from this help page!
	a(href='/')
		h3 Go back!
	br
	br 
	div Explore and immerse yourself in this world. Learn about who you are. Interact, play and explore.
	br
	br
	div And of course, see you soon.